body {
    background:gray;
    color:white;
}

h1{
text-decoration: none;
color:black;
}

h2{
text-decoration: none;
}

h4{
text-decoration: none;
color:white;
font-size:50px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a{
text-decoration: none;
font-size:50px;
color:white;
}

ToOeAsIlYgUeSsEd2401