{% extends "base.html" %}

{% block content %}
<h1>Odaberite grad za koji želite vidjeti vremensku prognozu!</h1>
<hr>
<img src="/static/img/zagreb.jpg" >
<hr>
<div class="centered"><a href="/zagreb"><h4>ZAGREB</h4> </a></div>
</br>
</br>
</br>
<img src="/static/img/Rijeka.jpg" >
<hr>
<div class="centered"><a href="/rijeka"><h4>RIJEKA</h4> </a></div>
</br>
</br>
</br>
<img src="/static/img/split.jpg">
<hr>
<div class="centered"><a href="/split"> <h4>SPLIT</h4></a></div>

{% endblock content %}